a {
    font-family: sans-serif;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 24px;
    list-style-type: none;
    justify-content: center;
    padding: 24px 156px;
    width: 1440px;
}

img {
    width: 360px;
    height: 200px;
}

img:hover {
    transform: scale(1.04);
    transition: all 0.2s linear
}